@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
:root {
    --light-color: #D9D9D9;
    --dark-color: #030514;

    --blue: #0d1657;
    --mono-blue-1: #051c6f;
    --mono-blue-2: #062288;
    --mono-blue-3: #0728a0;
    
    --tints-blue-1: #1d2d67;
    --tints-blue-1: #364478;
    --tints-blue-1: #4f5b89;
 
    --purple: #551a8b;
    --mono-purple-1: #621ea0;
    --mono-purple-2: #6f22b6;
    --mono-purple-3: #7c26cb;

    --tints-purple-1: #663096;
    --tints-purple-1: #7647a2;
    --tints-purple-1: #885ead;

    --gray: #7E7E7E;
    --mono-gray-1: #575757;
    --mono-gray-2: #646464;
    --mono-gray-3: #717171;    ;
    --mono-gray-4: #7e7e7e;
    --mono-gray-5: #8a8a8a;
    --mono-gray-6: #979797;
    --mono-gray-7: #a4a4a4;

    --tints-gray-1: #8a8a8a;
    --tints-gray-2: #979797;
    --tints-gray-3: #a4a4a4;    ;
    --tints-gray-4: #b1b1b1;
    --tints-gray-5: #bebebe;
    --tints-gray-6: #cbcbcb;
    --tints-gray-7: #d8d8d8;
   
}


h1 {
    font-size: 44px;
    line-height: 52px;
    font-weight: 300;
}

h3 {
    font-weight: 200;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    position: relative;
}

li {
    list-style: none;
}

.dark-theme {
    min-height: 100vh;
    min-width: 100vh;
    color: var(--light-color);
    background: rgb(1,2,10);
    background-image: 
        linear-gradient(110deg, 
        rgba(1,2,10,0.9696356275303644) 60%, 
        rgba(13,22,87,1) 100%);           
}

.light-theme {
    background: var(--light-color);
    min-height: 100vh;
    min-width: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.article {  
    width: 50%;
    margin-bottom: 100px;
}

.article-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 7.5vh;
    padding: 0 5vw;
    position: fixed;
    bottom: 0;
}

.nav-link {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-weight: 400;
    color: #979797;
}

.nav-link:hover {
    color: #7E7E7E;
}

.nav-Link:active {
    font-weight: 500;
    color: var(--purple);
}

ul li a.nav-link:before {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--purple);
    position: absolute;
    top: 120%;
    left: 0;
    transition: all 0.5s;
}

ul li a.nav-link:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--blue);
    position: absolute;
    top: 120%;
    right: 0;
    transition: all 0.5s;
}

ul li a.nav-link:hover:before {
    width: 50%;
    transform: translateX(100%)
}

ul li a.nav-link:hover:after {
    width: 50%;
    transform: translateX(-100%)
}

.title {
    font-size: 70px;
    line-height: 1.2;
    text-shadow: ;
}

.ingress {
    margin-top: 40px;
    line-height: 1.2;
    text-shadow: ;
    width: 95%;
    text-align: justify;

}

.action-btn {
    margin-top: 40px;
    margin-right: 70px;
    float: right;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    position: relative;
}

.action-btn:hover:before, .action-btn:hover:after {
    content: "";
    position: absolute;
    left: -20px;
    top: -20px;
    right: -20px;
    bottom: -10px;
    border: 1px solid var(--purple);
    
    border-radius: 5px;
    animation: pulsing 1.5s linear infinite;
}

.action-btn:hover:after {
    animation-delay: 0.5s;
}

@keyframes pulsing {
    0% { transform: scale(0.5); opacity: 0; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(1.2); opacity: 0; }   
}

.call-to-action {
    color: var(--blue)
}






